<!DOCTYPE html>
<html>
  <head>
    <base href="./" />
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="
      connect-src 'self' https://*.stripe.com https://*.sentry.io https://*.amplitude.com ws://localhost:3001 http://localhost:8545;
      frame-src 'self' https://*.stripe.com;
      script-src 'self' https://*.stripe.com;
      script-src-elem 'self' https://*.stripe.com;"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Rubik:200,300,400,400i,500,500i,700,700i&display=swap"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:200,300,400,400i,500,500i,700,700i&display=swap"
      rel="stylesheet"
    />
    <title>Trove</title>
  </head>
  <body>
    <div id="root"></div>
    <div id="audio-root"></div>
  </body>
</html>
