<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="./" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-react-helmet="true">Trove</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Rubik:200,300,400,400i,500,500i,700,700i&display=swap"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:200,300,400,400i,500,500i,700,700i&display=swap"
      rel="stylesheet"
    />
    <meta name="theme-color" content="#ffffff" data-react-helmet="true" />
    <link rel="icon" sizes="any" type="image/svg+xml" data-react-helmet="true" />
    <link rel="apple-touch-icon" href="/src/assets/apple-touch-icon.png" />
    <!-- <title>Trove</title> -->
  </head>
  <body>
    <div id="root"></div>
    <div id="audio-root"></div>
  </body>
</html>
